// Colours
$colour-blue-1: #ecfafc;
$colour-blue-2: #466871;
$colour-blue-3: #243b49;

$colour-green-1: #dff66c;
$colour-green-2: #b9dc6c;
$colour-green-3: #80a26f;

$colour-orange-1: #fcdf6e;
$colour-orange-2: #ffc100;
$colour-orange-3: #ffa300;

$colour-yellow-1: #f3f2d7;
$colour-yellow-2: #fdf0d2;
$colour-yellow-3: #fcdf6e;

// Fonts
$font-family-primary: "Quicksand", "sans-serif";
$font-family-secondary: "Lato", "sans-serif";
